@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    margin: 0;
}

.app-root {
    background: linear-gradient(115deg, #303030 0%, #252525 100%);
    min-height: 100vh;
    font-family: "Nunito", sans-serif;
    color: #fff;
}